*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.image-window{
    width: 80%;
    display: inline-block;

}

.poke-window{
    width: 15%;
    display: inline-block;
    border: 2px solid black;
    vertical-align: top;
    padding: 1.5em;
}

    .poke-window h2{
        text-align: center;
    }

    .poke-window img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .poke-window ul{
        padding-left: 2em;
    }
